.footer {
  border-top: 2px solid $main-font-color;
  padding: 24px 0;
  font-size: 1rem;
  color: $main-font-color;
  .container {
    align-items: flex-end;
    @media (max-width: 767px) {
      flex-wrap: wrap;
    }
  }
  &__policy {
    width: 32%;
    @media (max-width: 767px) {
      width: 50%;
      order: 1;
    }
    &-link {
      text-decoration: none;
      color: $main-font-color;
      transition: 0.3s;
      &:hover {
        color: $secondary-font-color;
      }
    }
  }
  &__copyright {
    width: 32%;
    text-align: center;
    @media (max-width: 767px) {
      width: 100%;
      order: 3;
      margin-top: 20px;
    }
  }
  &__social {
    width: 32%;
    display: flex;
    @media (max-width: 767px) {
      width: 50%;
      order: 2;
    }
    &-item {
      margin-left: 16px;
      &:nth-child(1) {
        margin-left: auto;
      }
      &:hover {
        path {
          transition: 0.3s;
          fill: $secondary-font-color;
        }
      }
    }
  }
}
