.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 5px solid $main-font-color;
  padding: 2.2rem;
  margin: 1.3rem 0 2.6rem;
  color: $main-font-color;
  @media (max-width: 767px) {
    padding: 25px 15px;
    border: 3px solid $main-font-color;
  }
  &__row {
    display: flex;
    margin-bottom: 2.6rem;
    @media (max-width: 1200px) {
      margin-bottom: 36px;
    }
    @media (max-width: 992px) {
      margin-bottom: 1.3rem;
    }
    @media (max-width: 767px) {
      flex-wrap: wrap;
    }
    &:nth-last-child(2) {
      margin-bottom: 5px;
    }
    &_align-center {
      align-items: center;
    }
  }
  &__col {
    display: flex;
    flex-direction: column;
    &_50 {
      width: 50%;
      @media (max-width: 767px) {
        width: 100%;
      }
      &:nth-child(1) {
        padding-right: 40px;
        @media (max-width: 992px) {
          padding-right: 20px;
        }
        @media (max-width: 767px) {
          padding-right: 0;
        }
      }
      &:nth-last-child(1) {
        padding-left: 40px;
        @media (max-width: 992px) {
          padding-left: 20px;
        }
        @media (max-width: 767px) {
          padding-left: 0;
        }
      }
    }
  }
  &__input {
    border: 2px solid $main-font-color;
    color: $main-font-color;
    font-size: 1.3rem;
    padding: 16px;
    background-color: #000;
    margin-bottom: 48px;
    transition: 0.3s;
    -webkit-appearance: none;
    border-radius: 0;
    @media (max-width: 1200px) {
      margin-bottom: 2rem;
    }
    @media (max-width: 767px) {
      border: 1px solid $main-font-color;
    }
    &:nth-last-child(1) {
      margin-bottom: 0;
      @media (max-width: 767px) {
        margin-bottom: 2rem;
      }
    }
    &::placeholder {
      color: $main-font-color;
    }
    &:focus {
      border: 2px solid $secondary-font-color;
      outline: none;
      color: $secondary-font-color;
      &::placeholder {
        color: $secondary-font-color;
      }
    }
  }
  &__textarea {
    border: 2px solid $main-font-color;
    color: $main-font-color;
    font-size: 1.3rem;
    padding: 16px;
    background-color: #000;
    resize: none;
    height: 100%;
    transition: 0.3s;
    -webkit-appearance: none;
    border-radius: 0;
    @media (max-width: 767px) {
      border: 1px solid $main-font-color;
    }
    &::placeholder {
      color: $main-font-color;
    }
    &:focus {
      border: 2px solid $secondary-font-color;
      outline: none;
      color: $secondary-font-color;
      transition: 0.3s;
      &::placeholder {
        color: $secondary-font-color;
      }
    }
  }
  &__checkbox {
    display: block;
    border: 2px solid $main-font-color;
    width: 32px;
    height: 32px;
    position: relative;
    margin-right: 15px;
    cursor: pointer;
    &.error {
      border: 2px solid red;
    }
    @media (max-width: 767px) {
      border: 1px solid $main-font-color;
      &.error {
        border: 1px solid red;
      }
    }
    @media (max-width: 350px) {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
    &::after {
      content: "";
      display: none;
      width: 15px;
      height: 7px;
      position: absolute;
      border-left: 5px solid $main-font-color;
      border-bottom: 5px solid $main-font-color;
      top: 5px;
      left: 4px;
      transform: rotate(-45deg);
    }
    &-label {
      font-size: 1.3rem;
      cursor: pointer;
      margin-right: 10px;
      &.error {
        color: red;
      }
      @media (max-width: 767px) {
        font-size: 12px;
      }
      @media (max-width: 359px) {
        font-size: 10px;
      }
    }
    &-input {
      display: none;
      &:checked ~ .form__checkbox::after {
        display: block;
      }
    }
  }
  &__button {
    width: 250px;
    height: 48px;
    font-size: 1.3rem;
    background-color: #000;
    color: $main-font-color;
    text-align: center;
    margin: 0 auto;
    border: 2px solid $main-font-color;
    transition: 0.3s;
    cursor: pointer;
    @media (max-width: 767px) {
      border: 1px solid $main-font-color;
    }
    &:hover,
    &:focus {
      outline: none;
      color: $secondary-font-color;
      border: 2px solid $secondary-font-color;
    }
  }
  &__message {
    opacity: 0;
    height: 20px;
    font-size: 18px;
    text-align: center;
    &.show {
      opacity: 1;
      color: $secondary-font-color;
    }
    &.error {
      opacity: 1;
      color: red;
    }
  }
}

.recaptcha {
  margin-left: auto;
  @media (max-width: 767px) {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  @media (max-width: 370px) {
    .g-recaptcha {
      transform: scale(0.9);
    }
  }
}
.errorText {
  font-size: 12px;
  color: red;
  height: 15px;
}
